@CHARSET "ISO-8859-1";

.eventsMonday {
	width: 200px;
	background: orange;
	border: 1px solid yellow;
	position: absolute;
/* 				lo incilizo en 0 para probar */
}

.columnMonday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}